[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=rouse
X-Python-2-Compatible=false
Name=Rouse
Comment=Rouse asset image separation
